.rangeInput {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

.rangeInput::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
}

.rangeInput::-ms-thumb {
  width: 0;
  height: 0;
}
